*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/phpstan-output.txt
/storage/pint-output.txt
/storage/framework/cache/phpstan
/vendor
.phpstan.cache
Homestead.json
Homestead.yaml
Thumbs.db
